 @import url(https://fonts.googleapis.com/css?family=Roboto:300);
 @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
 
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  /* color: white; */
  text-align: center;
}

.prodBackground {
  margin: 0;
  padding: 0;
  background: #16b4e4;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Prodform-container {
  width: 360px;
   
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
 
}

.Prodregister-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}
.ProductTextStyle{
  text-align: center;
  font-weight: bold;
  color: black;
  margin-right: 70px;
}
.Prodform-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
  border-radius: 10px;
  color: black;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: blue;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.Prodimage-button {

  background: #f2f2f2;
  color: white;
  cursor: pointer;
  font-size: 16px;
  color: black;
  border-radius: 10px;
}

h2
{
  color: gray;
  font-size: 14px;
}